<ul class="nav--search--results">
  <li class="nav--search--result">
    <a class="hover:text-secondary" href="#">Limp Bizkit</a>
  </li>
  <li class="nav--search--result">
    <a class="hover:text-secondary" href="#">Limpnificant Other</a>
    <span class="ml-2 text-primary text-xsmall">Limp Bizkit</span>
  </li>
  <li class="nav--search--result">
    <a data-turbo-frame="player" class="hover:text-primary" href="#">Climbing On Roofs (The Despera)</a>
    <span class="ml-2 text-secondary text-xsmall">65daysofstatic</span>
  </li>
  <li class="nav--search--result">
    <a class="hover:text-primary" href="#">Slim Pickens Does The Right Thing And Rides The Bomb To Hell [Explicit Version]</a>
    <span class="ml-2 text-secondary text-xsmall">The Offspring</span>
  </li>
</ul>
